#box { 
        margin: auto; 
        width: 1210; 
        height: 250px; 
        border: 3px solid green; 
        padding: 5px; 
} 
#card1 {
        border: 3px solid white; 
        background-color: cornflowerblue;
        float: left;
        width: 250px;
        z-index: 2;
        min-height: 75px;
}
#box1, #box2, #box3, #box4 { 
        float: left; 
        margin: 5px; 
        height: 95%;
        width: 19%;
        background-color: yellow;
        z-index: 1;
} 
p { 
        font-size:20px; 
        font-weight:bold; 
        text-align:center; 
        padding: 3px 3px;
} 
button{
        display:inline-block;
        padding:1em 2em;
        border:0.1em solid #000000;
        margin:0 0.2em 0.2em 0;
        border-radius:1em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:500;
        color:#000000;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        background-color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        font-size: x-large;
}
button:hover{
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color:#FFFFFF;
        border-color:#FFFFFF;
        background-color: green;
}
@media all and (max-width:30em){
         button{
                display:block;
                margin:0.4em auto;
        }
}
#blue, #red {
        float: left;
        padding: 0px;
}
#blue:hover {
        background-color: blue;
}
#red:hover {
        background-color: red;
}
#plusone {
        color: darkgreen;
        font-size: xx-large;
        padding: 0px;
}
#points {
        margin-left: 42%;
}