#box { 
        margin: auto; 
        width: 1210; 
        height: 275px; 
        border: 3px solid green; 
        padding: 10px; 
} 
#card1, #card2, #card3, #card4 {
        width: 90%;
        height: 90%; 
        border: 3px solid white; 
        padding: 10px; 
        background-color: cornflowerblue;
        float: left;
}
#box1, #box2, #box3, #box4 { 
        float: left; 
        margin: 5px; 
        padding: 10px; 
        height: 90%;
        width: 22%;
        background-color: yellow;
} 
p { 
        font-size:20px; 
        font-weight:bold; 
        text-align:center; 
} 
